#s-069ef780-783f-4739-bed0-5ddb6a401160 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-069ef780-783f-4739-bed0-5ddb6a401160 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}