#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 #s-close-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 #s-Rich_text_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.882947592858927,M12=-0.4694715627858908,M21=0.4694715627858908,M22=0.882947592858927);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.882947592858927,M12=-0.4694715627858908,M21=0.4694715627858908,M22=0.882947592858927);
  margin-left: -3px;
  margin-top: -46px;
}
#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 #s-Rich_text_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.882947592858927,M12=-0.4694715627858908,M21=0.4694715627858908,M22=0.882947592858927);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.882947592858927,M12=-0.4694715627858908,M21=0.4694715627858908,M22=0.882947592858927);
  margin-left: -3px;
  margin-top: -46px;
}
.ui-page {
  overflow-x: hidden;
}
#s-5ea983a4-0164-4d8f-bf28-6875d7a80ec6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}