#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-close-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow: hidden;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}