#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Label-blue {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-close-blue {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-ok-green {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow: hidden;
}
#s-74d19e7c-905e-494f-9afc-74fb5cbff518 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}