#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-close-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Button-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}