#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-close-blue {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Button-red {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 114px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Button-red_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99EF88;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #99EF88;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #99EF88;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #99EF88;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 114px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Label-blue {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-c065dbe8-df61-4c30-85f4-fa38affac0b7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}