#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 20px 20px 20px 20px;
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Label-blue {
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-close-blue {
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-ok-green {
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Callout_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}