#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-close-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d4ca9010-51bc-4cba-b878-843d49e5f2db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}