#s-e8a02a07-daf1-4af0-98eb-917448201a2e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8a02a07-daf1-4af0-98eb-917448201a2e #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e8a02a07-daf1-4af0-98eb-917448201a2e #s-Label-blue {
  -ms-transform: rotate(0.0deg);
}
#s-e8a02a07-daf1-4af0-98eb-917448201a2e #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 94px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-e8a02a07-daf1-4af0-98eb-917448201a2e #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 105px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e8a02a07-daf1-4af0-98eb-917448201a2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}