#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label_186 {
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab #t-Label-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 126px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}